<h1>Hola MVC</h1>
<p>This is my first page</p>
<p>Lista de productos:</p>
{{#each products}}
<p>{{id}} {{name}} </p>
{{/each}}
<button onclick=window.location.href='./about-us'>Acerca de nosotros</button>